<div class="card mb-3" id="studentsTable" data-list='{"valueNames":[],"page":15}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
          <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Students</h5>
      </div>
    </div>
  </div>
  <div class="card-body p-0">
    <div class="table-responsive">
      <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
        <thead class="bg-200 text-900">
          <tr>
            <th>
              <div class="form-check fs-0 mb-0 d-flex align-items-center">
                <input class="form-check-input" id="checkbox-bulk-students-select" type="checkbox" data-bulk-select='{"body":"table-students-body","actions":"table-students-actions"}' />
              </div>
            </th>
            <th class="sort pe-1 align-middle white-space-nowrap" data-sort="ending date">Name</th>
          </tr>
        </thead>
        <tbody class="list" id="table-students-body">
          <% students.each do |student| %>
            <tr class="btn-reveal-trigger">
              <td class="align-middle py-2" style="width: 28px;">
                <div class="form-check fs-0 mb-0 d-flex align-items-center">
                  <input class="form-check-input communications-students" type="checkbox" id="<%= student.id %>" data-bulk-select-row="data-bulk-select-row" />
                </div>
              </td>
              <td class="name align-middle white-space-nowrap py-2">
                <%= student.name %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
