<div id="<%= dom_id klass_tempelate_form %>">
  <p>
    <strong>Deleted at:</strong>
    <%= klass_tempelate_form.deleted_at %>
  </p>

  <p>
    <strong>Klass tempelate:</strong>
    <%= klass_tempelate_form.klass_tempelate_id %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= klass_tempelate_form.form_id %>
  </p>

</div>
