<h1>Editing klass tempelate form</h1>

<%= render "form", klass_tempelate_form: @klass_tempelate_form %>

<br>

<div>
  <%= link_to "Show this klass tempelate form", @klass_tempelate_form %> |
  <%= link_to "Back to klass tempelate forms", klass_tempelate_forms_path %>
</div>
