<p>Dear <%= @student.parent.father_first %>,</p>


<p>This is a reminder regarding the fee submission for <%= @student.name %>.</p>
<p>Reason: <%= @reason %></p>

<p>Thank you,</p>






