<div class="table-responsive">
  <%= form_tag(klasses_path, id: 'showKlassesForm', method: :get, remote: true) do %>
  <div class="p-2 mb-3">
    <div class="row">
      <div class="col-lg-8">
        <%= date_field_tag :classes_at, nil, class: 'form-control datetimepicker', placeholder: "hh:mm /dd/mm/yyyy" %>
      </div>
      <div class="col-lg-4">
        <%= submit_tag "Search", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>
  <div id="communication-classes"></div>
</div>
<%= render 'shared/pagination', query: {}, js_request: false if @pagy.present? %>
