<table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
  <thead class="bg-200 text-900">
    <tr>
      <th>
        <div class="form-check fs-0 mb-0 d-flex align-items-center">
          <input class="form-check-input" id="checkbox-bulk-reports-select" type="checkbox"
            data-bulk-select='{"body":"table-reports-body","actions":"table-reports-actions","replacedElement":"table-reports-replace-element"}' />
        </div>
      </th>
      <th class="sort pe-1 align-middle white-space-nowrap" data-sort="name">Name</th>
    </tr>
  </thead>
  <tbody class="list" id="table-reports-body">
    <% meetings.each do |meeting| %>
      <%= render 'reports/daily/meeting', meeting: meeting %>
    <% end %>
  </tbody>
</table>
