<div class="table-responsive">
  <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
    <thead class="bg-200 text-900">
      <tr>
        <th>
          <div class="form-check fs-0 mb-0 d-flex align-items-center">
            <input class="form-check-input" id="checkbox-bulk-vacations-select" type="checkbox" data-bulk-select='{"body":"table-vacations-body","actions":"table-vacations-actions","replacedElement":"table-vacations-replace-element"}' />
          </div>
        </th>
        <th class="sort pe-1 align-middle white-space-nowrap">
          <% if @search.present? %>
            <%= sort_link(@search, :name, default_order: :asc)%>
          <% end %>
        </th>
        <th class="sort pe-1 align-middle white-space-nowrap">Vacation Type</th>
        <th class="sort pe-1 align-middle white-space-nowrap">Starting Date</th>
        <th class="sort pe-1 align-middle white-space-nowrap">Ending Date</th>
        <th class="sort pe-1 align-middle white-space-nowrap" ></th>

      </tr>
    </thead>
    <tbody class="list" id="table-vacations-body">
      <% vacations.each_with_index do |vacation, index| %>
        <%= render 'vacation', vacation: vacation, index: index %>
      <% end %>
    </tbody>
  </table>
</div>
<%= render 'shared/pagination' if @pagy.present? %>
