<h1>Editing trajectory detail</h1>

<%= render "form", trajectory_detail: @trajectory_detail %>

<br>

<div>
  <%= link_to "Show this trajectory detail", @trajectory_detail %> |
  <%= link_to "Back to trajectory details", trajectory_details_path %>
</div>
