<p style="color: green"><%= notice %></p>

<h1>Trajectory details</h1>

<div id="trajectory_details">
  <% @trajectory_details.each do |trajectory_detail| %>
    <%= render trajectory_detail %>
    <p>
      <%= link_to "Show this trajectory detail", trajectory_detail %>
    </p>
  <% end %>
</div>

<%= link_to "New trajectory detail", new_trajectory_detail_path %>
