<div class="card mb-3"
  data-list='{"valueNames":["name","strating date","ending date","vacation type","action"],"page":15}'>
  <div class="card-header">
    <div class="row flex-between-center">
      <div class="col-4 col-sm-auto d-flex align-items-center pe-0">
        <h5 class="fs-0 mb-0 text-nowrap py-2 py-xl-0">Student</h5>
      </div>
    </div>
  </div>
  <div class="card-body p-0" id="studentsTable">
    <div class="row">
      <div class="col-md-6 h-100">
        <div class="d-flex btn-reveal-trigger">
          <div class="flex-1 position-relative ps-3">
            <p class="text-1000 mb-0">Student Name: <%= @student.name %></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  </br>
  <%= render partial: 'shared/histroy/versions', locals: { records: @student.versions } %>
</div>
