<div id="<%= dom_id klass_form %>">
  <p>
    <strong>Deleted at:</strong>
    <%= klass_form.deleted_at %>
  </p>

  <p>
    <strong>Form:</strong>
    <%= klass_form.form_id %>
  </p>

  <p>
    <strong>Klass:</strong>
    <%= klass_form.klass_id %>
  </p>

</div>
