<h1>Editing klass form</h1>

<%= render "form", klass_form: @klass_form %>

<br>

<div>
  <%= link_to "Show this klass form", @klass_form %> |
  <%= link_to "Back to klass forms", klass_forms_path %>
</div>
