<p style="color: green"><%= notice %></p>

<h1>Klass forms</h1>

<div id="klass_forms">
  <% @klass_forms.each do |klass_form| %>
    <%= render klass_form %>
    <p>
      <%= link_to "Show this klass form", klass_form %>
    </p>
  <% end %>
</div>

<%= link_to "New klass form", new_klass_form_path %>
