<div id="books-table">
  <div class="table-responsive">
    <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden table-bordered">
      <thead class="bg-200 text-900">
        <tr>
          <th>
            <div class="form-check fs-0 mb-0 d-flex align-items-center">
            <input class="form-check-input" id="checkbox-bulk-books-select" type="checkbox" data-bulk-select='{"body":"table-books-body","actions":"table-books-actions","replacedElement":"table-books-replace-element"}' />
            </div>
          </th>
          <th class="sort pe-1 align-middle white-space-nowrap" data-sort="ending date">Name</th>
          <th class="sort pe-1 align-middle white-space-nowrap" data-sort="ending date">Grade</th>
          <th class="sort pe-1 align-middle white-space-nowrap" data-sort="ending date"></th>
        </tr>
      </thead>
      <tbody class="list" id="table-books-body">
        <% records.each do |book| %>
          <%= render 'books/book', book: book %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= render 'shared/pagination', query: {}, js_request: true if @pagy.present? %>
