<p style="color: green"><%= notice %></p>

<h1>Content libraries</h1>

<div id="content_libraries">
  <% @content_libraries.each do |content_library| %>
    <%= render content_library %>
    <p>
      <%= link_to "Show this content library", content_library %>
    </p>
  <% end %>
</div>

<%= link_to "New content library", new_content_library_path %>
