<p style="color: green"><%= notice %></p>

<h1>Receipt types</h1>

<div id="receipt_types">
  <% @receipt_types.each do |receipt_type| %>
    <%= render receipt_type %>
    <p>
      <%= link_to "Show this receipt type", receipt_type %>
    </p>
  <% end %>
</div>

<%= link_to "New receipt type", new_receipt_type_path %>
