<div class="table-responsive">
  <table class="table table-sm table-striped fs--1 mb-0 overflow-hidden">
    <thead class="bg-200 text-900">
      <tr>
        <th>
          <div class="form-check fs-0 mb-0 d-flex align-items-center">
            <input class="form-check-input" id="checkbox-bulk-receipts-select" type="checkbox" data-bulk-select='{"body":"table-receipts-body","actions":"table-receipts-actions","replacedElement":"table-receipts-replace-element"}' />
          </div>
        </th>
        <th class="sort pe-1 align-middle white-space-nowrap">
          <% if @search.present? %>
            <%= sort_link(@search, :student_id, default_order: :asc)%>
          <% end %>
        </th>
        <th class="sort pe-1 align-middle white-space-nowrap">Student</th>
        <th class="sort pe-1 align-middle white-space-nowrap">Receipt</th>
        <th class="sort pe-1 align-middle white-space-nowrap">Meeting</th>

        <th class="sort pe-1 align-middle white-space-nowrap" ></th>

      </tr>
    </thead>  
  </table>
</div>
<%= render 'shared/pagination' if @pagy.present? %>
