<div class="card-header">
  <h5 class="mb-0">Payments</h5>
</div>

<div class="row g-0">
  <div class="col-lg-4 pe-lg-2">
    <div class="col-auto justify-content-end order-md-1 mb-2" id="payments-student-selection">
      <%= collection_select(nil, :payment_student, current_account.students.active.order(:first_name), :id, :name, { prompt: 'Select Student' }, { class: 'form-select js-choice', id: 'payment_student', 'aria-label': 'Floating label select', data: { options: { searchEnabled: true } } }) %>
    </div>
  </div>
</div>

<div class="row g-0" id="payment_details"></div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "controllers/#{params[:controller]}/#{params[:action]}", defer: true, module: true %>
<% end %>
