<div class="card-header">
  <h5 class="mb-0">Payments</h5>
</div>

<div class="row g-0">
  <div class="col-lg-4 pe-lg-2">
    <div class="form-floating col-auto d-flex justify-content-end order-md-1 mb-2" id="payments-student-selection">
      <select class="form-select" id="payment_student" aria-label="Floating label select example">
        <option selected>Select Please</option>
        <% current_account.students.active.each do |student| %>
          <option value="<%= student.id %>"><%= student.name %></option>
        <% end %>
      </select>
      <label for="floatingSelectGrid">Student: </label>
    </div>
  </div>
</div>

<div class="row g-0" id="payment_details"></div>

<% content_for :javascript_includes do %>
  <%= javascript_include_tag "controllers/#{params[:controller]}/#{params[:action]}", defer: true, module: true %>
<% end %>
