<div id="<%= dom_id student_form %>">
  <p>
    <strong>Deleted at:</strong>
    <%= student_form.deleted_at %>
  </p>

  <p>
    <strong>Student class:</strong>
    <%= student_form.student_class_id %>
  </p>

  <p>
    <strong>Klass form:</strong>
    <%= student_form.klass_form_id %>
  </p>

</div>
