<h1>Editing student form</h1>

<%= render "form", student_form: @student_form %>

<br>

<div>
  <%= link_to "Show this student form", @student_form %> |
  <%= link_to "Back to student forms", student_forms_path %>
</div>
