.login-side-card {
  background-image: url('icons/spot-illustrations/half-circle.png')
}
.profile-background{
  background-image: url('generic/4.jpg')
}

.pagination{
  padding: 10px;
}

.logo_name{
  font-size: 24px;
}

.nav-link-card-details{
  display: flex;
  align-items: center;
}

.nav-link-card-details a{
  margin-left: auto;
}

#showAssessmentForm{
  position: relative;
}

#showAssessmentForm button{
  position: absolute;
  right: 10px;
  top: 6px;
  color: #2d7be5;
  background: none;
  border: none;
  line-height: normal;
}

.unassigned-students{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#calendar-teacher-selection{
  margin-left: 20px;
}

#calendar-teacher-selection select{
  padding: 20px 0px 5px 8px;
  height: auto;
}

#calendar-teacher-selection label{
  padding: 0px;
  bottom: 0;
  top: auto;
  padding-left: 8px;
  transform: translateY(5px);
}

#calendar-student-selection{
  margin-left: 20px;
}

#calendar-student-selection select{
  padding: 20px 0px 5px 8px;
  height: auto;
}

#calendar-student-selection label{
  padding: 0px;
  bottom: 0;
  top: auto;
  padding-left: 8px;
  transform: translateY(5px);
}

#calendar-event-selection {
  margin-left: 20px;
}

#calendar-event-selection select {
  padding: 20px 0px 5px 8px;
  height: auto;
}

#calendar-event-selection label {
  padding: 0px;
  bottom: 0;
  top: auto;
  padding-left: 8px;
  transform: translateY(5px);
}

.triangle {
  position: absolute;
  top: 0;
  right: 0;
  width: 0;
  height: 0;
  border-top: 20px solid transparent;
  border-left: 20px solid transparent;
  clip-path: polygon(100% 0, 100% 100%, 0 0);
}

.interview_grid{
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.interview_schedule_form{
  flex: auto;
}

.schedule_input{
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  align-items: flex-end;
  padding-right: 20px;
  column-gap: 20px;
}

.profile-label{
  width: 170px;
  height: 170px;
  position: relative;
}
.profile-label div{
  position: absolute;
  right: 40px;
  bottom: 0;
  background: white;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  box-shadow: 0px 0px 7px 0px rgba(0,0,0,0.43);
  justify-content: center;
}

#staff_profile{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.calender-tiles{
  position: relative;
}

.calender-tiles-20::after{
  position: absolute;
  background: linear-gradient(90deg, rgb(202 218 243) 0%, rgb(202 218 243) 100%);
  top: -4px;
  left: -7px;
  height: calc(100% + 8px);
  border-radius: 5px;
  content: '';
  width: 29%;
  z-index: -1
}

.calender-tiles-40::after{
  position: absolute;
  background: linear-gradient(90deg, rgb(202 218 243) 0%, rgb(202 218 243) 100%);
  top: -4px;
  left: -7px;
  height: calc(100% + 8px);
  border-radius: 5px;
  content: '';
  width: 49%;
  z-index: -1
}

.calender-tiles-60::after{
  position: absolute;
  background: linear-gradient(90deg, rgb(202 218 243) 0%, rgb(202 218 243) 100%);
  top: -4px;
  left: -7px;
  height: calc(100% + 8px);
  border-radius: 5px;
  content: '';
  width: 69%;
  z-index: -1
}

.calender-tiles-80::after{
  position: absolute;
  background: linear-gradient(90deg, rgb(202 218 243) 0%, rgb(202 218 243) 100%);
  top: -4px;
  left: -7px;
  height: calc(100% + 8px);
  border-radius: 5px;
  content: '';
  width: 89%;
  z-index: -1
}

.calender-tiles-100::after{
  position: absolute;
  background: linear-gradient(90deg, rgb(202 218 243) 0%, rgb(202 218 243) 100%);
  top: -4px;
  left: -7px;
  height: calc(100% + 8px);
  border-radius: 5px;
  content: '';
  width: 109%;
  z-index: -1
}

#calendar-student-selection .choices__list.choices__list--dropdown{
  z-index: 999;
}
