<h1>Editing klass template</h1>

<%= render "form", klass_template: @klass_template %>

<br>

<div>
  <%= link_to "Show this klass template", @klass_template %> |
  <%= link_to "Back to klass templates", klass_templates_path %>
</div>
