<h1>Editing vacation type</h1>

<%= render "form", vacation_type: @vacation_type %>

<br>

<div>
  <%= link_to "Show this vacation type", @vacation_type %> |
  <%= link_to "Back to vacation types", vacation_types_path %>
</div>
