<p style="color: green"><%= notice %></p>

<h1>Vacation types</h1>

<div id="vacation_types">
  <% @vacation_types.each do |vacation_type| %>
    <%= render vacation_type %>
    <p>
      <%= link_to "Show this vacation type", vacation_type %>
    </p>
  <% end %>
</div>

<%= link_to "New vacation type", new_vacation_type_path %>
