<h1>Editing form detail</h1>

<%= render "form", form_detail: @form_detail %>

<br>

<div>
  <%= link_to "Show this form detail", @form_detail %> |
  <%= link_to "Back to form details", form_details_path %>
</div>
