<h1>Editing meetingstudent</h1>

<%= render "form", meetingstudent: @meetingstudent %>

<br>

<div>
  <%= link_to "Show this meetingstudent", @meetingstudent %> |
  <%= link_to "Back to meetingstudents", meetingstudents_path %>
</div>
