<h1>Editing student meeting</h1>

<%= render "form", student_meeting: @student_meeting %>

<br>

<div>
  <%= link_to "Show this student meeting", @student_meeting %> |
  <%= link_to "Back to student meetings", student_meetings_path %>
</div>
