<h1>Editing student metting</h1>

<%= render "form", student_metting: @student_metting %>

<br>

<div>
  <%= link_to "Show this student metting", @student_metting %> |
  <%= link_to "Back to student mettings", student_mettings_path %>
</div>
