<p style="color: green"><%= notice %></p>

<h1>Student mettings</h1>

<div id="student_mettings">
  <% @student_mettings.each do |student_metting| %>
    <%= render student_metting %>
    <p>
      <%= link_to "Show this student metting", student_metting %>
    </p>
  <% end %>
</div>

<%= link_to "New student metting", new_student_metting_path %>
