<p style="color: green"><%= notice %></p>

<h1>student_meetings</h1>

<div id="student_meetings">
  <% @student_meetingss.each do |student_meetings| %>
    <%= render student_meetings %>
    <p>
      <%= link_to "Show this student_meetings", student_meetings %>
    </p>
  <% end %>
</div>

<%= link_to "New student_meetings", new_student_meeting_path %>
